# The operator is responsible for paying transaction and query fees
#
# The `LocalWallet` uses the environment variables `OPERATOR_ID`, `OPERATOR_KEY`,
# and `HEDERA_NETWORK`

# Hedera Operator Account ID
OPERATOR_ID="0.0.2336"

# Hedera Operator Private Key
OPERATOR_KEY="302e020100300506032b6570042204202cc589a6343ff8d05b71edf54f69bff4cd8faeec9b04d16f55d1d78fe23841af"

# Hedera Network
HEDERA_NETWORK="previewnet"
