# editor files
.idea/

# npm dependencies
node_modules/

# built files
# we currently run babel over the JavaScript before shipping
# this enables us to easily support older versions of Node
lib/

# generated documentation
docs/

# parcel (bundler) cache
# parcel is used to bundle for mocha browser tests
.parcel-cache
.cache
dist/

*.log
