src/generated
node_modules/
yarn-error*
.npmrc

lib/
dist/

# ignores javascript files compiled from typescript
index-web.js
index-node.js
exports.js
src/**/*.js
__tests__/**/*.js
**/*.js.map
**/*.d.ts

**/*.flow*

# IDEA
.idea

# Docs
docs/

# Emacs
.log/
