# editor files
.idea/

# npm dependencies
node_modules/

# built files
# we currently run babel over the JavaScript before shipping
# this enables us to easily support older versions of Node
lib/
test/lib/
**/test-results/

# generated documentation
docs/

# local environment (for examples)
.env

# instabul (code coverage)
.nyc_output/
.coverage/
coverage/

.yalc
yalc.lock

examples/address-book.proto.bin

#ds store
.DS_Store