name: Common JS
on:
  push:
    branches:
      - main
      - develop
      - release/*
  pull_request:
    branches:
      - main
      - develop
      - release/*

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  test-integration-node:
    name: Integration Tests on Node ${{ matrix.node }}
    runs-on: [self-hosted, Linux, large, ephemeral]
    strategy:
      matrix:
        node: [ "16", "18" ]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          submodules: true

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.7.0

      - name: Install PNPM
        uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: 8.10.0

      - name: Setup Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Build @hashgraph/sdk
        run: task build

      - name: Install dependencies
        working-directory: common_js_test
        run: task install

      - name: Test
        working-directory: common_js_test
        run: task test
