name: Common JS

on:
  push:
    branches:
      - main
      - develop
      - release/*
  pull_request:
    branches:
      - main
      - develop
      - release/*

jobs:
  test-integration-node:
    runs-on: [self-hosted, Linux, large, ephemeral]
    strategy:
      matrix:
        node: [ "16", "18" ]

    steps:
      - name: Checkout Code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          submodules: true

      - name: Install Task
        uses: arduino/setup-task@e26d8975574116b0097a1161e0fe16ba75d84c1c # v1.0.3
        with:
          version: 3.7.0

      - name: Setup Node
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 # v4.0.0
        with:
          node-version: ${{ matrix.node }}

      - name: Install PNPM
        uses: pnpm/action-setup@d882d12c64e032187b2edb46d3a0d003b7a43598 # v2.4.0
        with:
          version: 8.10.0

      - name: Build @hashgraph/sdk
        run: task build

      - name: Install dependencies
        working-directory: common_js_test
        run: task install

      - name: Test
        working-directory: common_js_test
        run: task test
