name: React Native

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  android:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '8'

      - uses: extractions/setup-just@v1
        with:
          just-version: 1.1.2

      - name: Cache pnpm modules
        uses: actions/cache@v2
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-

      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2

      - run: pnpm install -g yarn

      - name: Build @hashgraph/cryptography
        run: just -f pacakges/cryptography build

      - name: Build @hashgraph/proto
        run: just -f pacakges/proto build

      - name: Build @hashgraph/sdk
        run: just build

      - name: Install yalc
        run: pnpm install -g yalc

      - name: Install detox
        run: pnpm install -g detox-cli

      - name: Locally Publish
        run: yalc publish --no-scripts

      - name: AVD
        run: |
          brew install android-platform-tools
          pnpm install -g envinfo detox-cli && envinfo
          echo yes | $ANDROID_HOME/tools/bin/sdkmanager --channel=0 --verbose "system-images;android-28;default;x86_64"
          $ANDROID_HOME/tools/bin/avdmanager --verbose create avd --force --name "Nexus6P" --package "system-images;android-28;default;x86_64" --sdcard 200M --device 11
          adb start-server

      - name: Build
        working-directory: examples/react-native
        run: |
          yalc add "@hashgraph/sdk"
          yarn
          detox build --configuration android

      - name: Test
        working-directory: examples/react-native
        run: detox test --configuration android

  ios:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '8'

      - name: Cache pnpm modules
        uses: actions/cache@v2
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-

      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2

      - run: pnpm install -g yarn

      - name: Build @hashgraph/cryptography
        run: just -f pacakges/cryptography build

      - name: Build @hashgraph/proto
        run: just -f pacakges/proto build

      - name: Build @hashgraph/sdk
        run: just build

      - name: Install yalc
        run: pnpm install -g yalc

      - name: Install detox
        run: pnpm install -g detox-cli

      - name: Locally Publish
        run: yalc publish --no-scripts
      
      - name: Build
        working-directory: examples/react-native
        run: |
          brew tap wix/brew
          brew install applesimutils
          yalc add "@hashgraph/sdk"
          yarn
          detox build --configuration ios

      - name: Test
        working-directory: examples/react-native
        run: |
          detox test --configuration ios
