# This workflow has been disabled from the GH Actions Server side (gh CLI or Github UI).
name: React Native
on:
  push:
    branches:
      - main
      - develop
      - release/*
      - build
  pull_request:
    branches:
      - main
      - develop
      - release/*

defaults:
    run:
        shell: bash

permissions:
  contents: read

jobs:
  android:
    name: Android
    runs-on: macos-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Java
        uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4.5.0
        with:
          distribution: "zulu"
          java-version: "8"

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.35.1

      - name: Setup Node
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: "16"

      - name: Install PNPM
        uses: step-security/action-setup@303e8a1dabc4295b9b4ca0f4198fd42f7861406e # v4.0.0
        with:
          version: 8.15.4

      - name: Install Yarn
        run: npm install -g yarn

      - name: Build @hashgraph/sdk
        run: task build

      - name: Install detox
        run: npm install -g detox-cli

      - name: AVD
        run: |
          brew install android-platform-tools
          pnpm install -g envinfo detox-cli && envinfo
          echo yes | $ANDROID_HOME/tools/bin/sdkmanager --channel=0 --verbose "system-images;android-28;default;x86_64"
          $ANDROID_HOME/tools/bin/avdmanager --verbose create avd --force --name "Nexus6P" --package "system-images;android-28;default;x86_64" --sdcard 200M --device 11
          adb start-server

      - name: Build
        working-directory: examples/react-native-example
        run: |
          ../../node_modules/.bin/yalc add "@hashgraph/sdk"
          yarn
          detox build --configuration android

      - name: Test
        working-directory: examples/react-native-example
        run: detox test --configuration android

  ios:
    name: iOS
    runs-on: macos-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Java
        uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4.5.0
        with:
          distribution: "zulu"
          java-version: "8"

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.7.0

      - name: Setup Node
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: "16"

      - name: Install PNPM
        uses: step-security/action-setup@303e8a1dabc4295b9b4ca0f4198fd42f7861406e # v4.0.0
        with:
          version: 8.15.4

      - name: Install Yarn
        run: npm install -g yarn

      - name: Build @hashgraph/sdk
        run: task build

      - name: Install detox
        run: npm install -g detox-cli

      - name: Build
        working-directory: examples/react-native-example
        run: |
          brew tap wix/brew
          brew install applesimutils
          yalc add "@hashgraph/sdk"
          yarn
          detox build --configuration ios

      - name: Test
        working-directory: examples/react-native
        run: |
          detox test --configuration ios
