# This workflow has been disabled from the GH Actions Server side (gh CLI or Github UI).
name: React Native
on:
  push:
    branches:
      - main
      - develop
      - release/*
      - build
  pull_request:
    branches:
      - main
      - develop
      - release/*

defaults:
    run:
        shell: bash

permissions:
  contents: read

jobs:
  android:
    name: Android
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Setup Java
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3.13.0
        with:
          distribution: "zulu"
          java-version: "8"

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.7.0

      - name: Setup Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "16"

      - name: Install PNPM
        uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: 8.10.0

      - name: Install Yarn
        run: npm install -g yarn

      - name: Build @hashgraph/sdk
        run: task build

      - name: Install detox
        run: npm install -g detox-cli

      - name: AVD
        run: |
          brew install android-platform-tools
          pnpm install -g envinfo detox-cli && envinfo
          echo yes | $ANDROID_HOME/tools/bin/sdkmanager --channel=0 --verbose "system-images;android-28;default;x86_64"
          $ANDROID_HOME/tools/bin/avdmanager --verbose create avd --force --name "Nexus6P" --package "system-images;android-28;default;x86_64" --sdcard 200M --device 11
          adb start-server

      - name: Build
        working-directory: examples/react-native-example
        run: |
          ../../node_modules/.bin/yalc add "@hashgraph/sdk"
          yarn
          detox build --configuration android

      - name: Test
        working-directory: examples/react-native-example
        run: detox test --configuration android

  ios:
    name: iOS
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Setup Java
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3.13.0
        with:
          distribution: "zulu"
          java-version: "8"

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.7.0

      - name: Setup Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "16"

      - name: Install PNPM
        uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: 8.10.0

      - name: Install Yarn
        run: npm install -g yarn

      - name: Build @hashgraph/sdk
        run: task build

      - name: Install detox
        run: npm install -g detox-cli

      - name: Build
        working-directory: examples/react-native-example
        run: |
          brew tap wix/brew
          brew install applesimutils
          yalc add "@hashgraph/sdk"
          yarn
          detox build --configuration ios

      - name: Test
        working-directory: examples/react-native
        run: |
          detox test --configuration ios
